.linkedinButton {
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 50px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  /* vertical-align: middle; */
}

.linkedinButton:hover { 
  background-color: #16437E;
  color: #ffffff;
}

.linkedinButton:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.nomadButton {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  padding: 12px 14px;
  text-align: center;
}

.nomadButton:hover {
  background-color: white;
  color: #FF4742;
}

.nomadButton:active {
  opacity: .5;
}